@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
    --font-en: "Poppins", sans-serif;
    --c-main-bg: rgb(28, 28, 28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-main-bg);
    overflow-x: hidden;
    user-select: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(./images/72055179_p0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rain-box {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    /* 不阻挡其他元素事件触发 */
    pointer-events: none;
}

.rain {
    position: absolute;
    width: 0.125rem;
    height: 3.125rem;
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.6)
    );
}
