<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sichu.mybatis.mapper.CacheMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <sql id="empColumns">eid, emp_name, age, gender, email</sql>
    <insert id="insertEmp">
        insert into t_emp values(null, #{empName}, #{age}, #{gender}, #{email}, null)
    </insert>
    <select id="getEmpByEid" resultType="cn.sichu.mybatis.pojo.Emp">
        select <include refid="empColumns"></include> from t_emp where eid = #{eid}
    </select>
</mapper>