@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

:root {
    --font-en: "Poppins", sans-serif;
    --font-jp: "Noto Sans Japanese", sans-serif;
    --c-main-bg: rgb(28, 28, 28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-main-bg);
    overflow-x: hidden;
    user-select: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide .background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;
}

.slide .text-box {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-align: center;
    white-space: nowrap;
    padding: 0.25rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: 0.125rem 0.125rem 0.375rem rgb(228, 135, 113),
        0.125rem 0.125rem 0.75rem rgb(228, 135, 113);
    box-shadow: 0.25rem 0.125rem 0.375rem rgb(0, 0, 0);
}
.slide:nth-child(odd) .text-box {
    font-family: var(--font-jp);
}
.slide:nth-child(even) .text-box {
    font-family: var(--font-en);
}
