@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

:root {
    --font-en: "Poppins", sans-serif;
    --font-jp: "Noto Sans Japanese", sans-serif;
    --c-main-bg: rgb(28, 28, 28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-main-bg);
    overflow-x: hidden;
    user-select: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content-box {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content-box:nth-child(1) {
    background-image: url(./images/101239144_p0.jpg);
}
.content-box:nth-child(2) {
    background-image: url(./images/101239158_p0.jpg);
}

.content-box span {
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 0.125rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 0.25rem 0.125rem 0.5rem rgb(0, 0, 0);
}

.content-box .words {
    width: 35vw;
    /* 隐藏before元素, 必须是第一个父元素 */
    overflow: hidden;
}
/* 第一行 */
.content-box .f-line-words {
    font-size: 2.5rem;
    font-family: var(--font-jp);
}
/* 第二行 */
.content-box .s-line-words {
    font-size: 1.25rem;
    font-family: var(--font-en);
}
/* 錦木千束 和 Nishikigi&nbsp;Chisato 行 */
.content-box .chistato-line-words {
    text-shadow: 0.125rem 0.25rem 0.25rem rgb(222, 94, 114);
}
.content-box .chistato-line-words::before {
    text-shadow: 0.125rem 0.25rem 0.25rem rgb(213, 70, 90);
}
/* 井ノ上たきな Inoue&nbsp;Takina 行 */
.content-box .takina-line-words {
    text-shadow: 0.125rem 0.25rem 0.25rem rgb(88, 219, 216);
}
.content-box .takina-line-words::before {
    text-shadow: 0.125rem 0.25rem 0.25rem rgb(79, 149, 240);
}

/* 所有有动画的span都设置成inline-block, 相对定位, 添加动画过渡 */
.content-box .words .f-word,
.content-box .words .s-word {
    display: inline-block;
    position: relative;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
/* 把含有漢字的 s-word左平移, 看起来更连贯 */
.content-box .words .s-word {
    margin-left: -0.5rem;
}
/* 所有 f-word 和 s-word 都通过before伪类和attr(), 添加绝对定位 和 content */
.content-box .words .f-word::before,
.content-box .words .s-word::before {
    position: absolute;
    content: attr(data-hover);
}
/* 不同行的span 用不同的 top, bottom 值实现y轴移动 */
.content-box .chistato-line-words .f-word::before {
    color: rgb(222, 94, 114);
}
.content-box .f-line-words .f-word::before {
    bottom: 110%;
}
.content-box .s-line-words .f-word::before {
    bottom: 110%;
}
.content-box .chistato-line-words .s-word::before {
    color: rgb(222, 94, 114);
}
.content-box .f-line-words .s-word::before {
    top: 110%;
}
.content-box .s-line-words .s-word::before {
    top: 110%;
}
.content-box .takina-line-words .f-word::before {
    color: rgb(88, 219, 216);
    bottom: 110%;
}
.content-box .f-line-words .f-word::before {
    bottom: 110%;
}
.content-box .f-line-words .f-word::before {
    bottom: 110%;
}
.content-box .takina-line-words .s-word::before {
    color: rgb(88, 219, 216);
}
.content-box .s-line-words .s-word::before {
    top: 110%;
}
.content-box .s-line-words .s-word::before {
    top: 110%;
}
/* hover时, transform回默认值 */
.f-line-words:hover .f-word {
    -webkit-transform: translate3d(0, 110%, 0);
    -moz-transform: translate3d(0, 110%, 0);
    -ms-transform: translate3d(0, 110%, 0);
    -o-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
}
.f-line-words:hover .s-word {
    -webkit-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    -ms-transform: translate3d(0, -110%, 0);
    -o-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
}
.s-line-words:hover .f-word {
    -webkit-transform: translate3d(0, 110%, 0);
    -moz-transform: translate3d(0, 110%, 0);
    -ms-transform: translate3d(0, 110%, 0);
    -o-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
}
.s-line-words:hover .s-word {
    -webkit-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    -ms-transform: translate3d(0, -110%, 0);
    -o-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
}
