@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC");

:root {
    --font-en: "Poppins", sans-serif;
    --font-sc: "Noto Sans SC", sans-serif;
    --c-main-bg: rgb(28, 28, 28);
    --c-title-words: rgb(220, 53, 53);
    --c-box-words: rgb(244, 157, 26);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sc);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-main-bg);
}

.main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 330px;
    margin:0 auto;
}
.item {
    position: relative;
    margin: 5px;
    width: 100px;
    height: 100px;
}
.style1, .style2 {
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    transition: transform .4s
}
.style1 {
    background-color: #ff8800;
    color: #fff;
}
.style2 {
    color: #ff8800;
    border:1px solid #ff8800;
    padding: 0 10px;
    transform: scaleX(0);
    background-color: #ffe6c9;
}
.hide {
    transform: scaleX(0);
}
.show {
    transform: scaleX(1);
}
.show-result {
    transform: scaleX(1);
    opacity: 0.5;
}

/* .title {
    width: 100%;
    position: relative;
    color: var(--c-title-words);
    font-size: 2.5rem;
    letter-spacing: 0.125rem;
    text-align: center;
    user-select: none;
}

.box {
    width: 20.625rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 6.25rem;
    height: 6.25rem;
    position: relative;
    margin: 0.375rem;
}

.style1,
.style2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    text-align: center;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}

.style1 {
    background-color: var(--c-box-words);
    color: rgb(255, 255, 255);
}

.style2 {
    background-color: #ffe6c9;
    /* background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75; */
    color: var(--c-box-words);
    border: 0.125rem solid var(--c-box-words);
    padding: 0 0.625rem;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.hide {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.show {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.show-result {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.5;
} */
